services:
  proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

  db:
    image: postgres:13.2-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./database:/var/lib/postgresql/data
    container_name: db

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    # ports:
    #   - "8080:8080"
    environment:
      PORT: 8080
      REQUEST_ORIGIN: http://localhost
      REDIS_HOST: redis
      POSTGRES_HOST: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: postgres
    depends_on:
      - redis
      - db

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        REACT_APP_BACKEND_URL: /api
    # ports:
    #   - "5001:5000"
    depends_on:
      - backend